.profile-section {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
  transition: margin-left 0.3s;
  bottom: 30px;
  opacity: 1;
  z-index: 1;
}