body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
}

.main-content {
  padding: 30px;
  padding-bottom: 40px;
}

.profile-section {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
  bottom: 30px;
  opacity: 0.9;
  z-index: 1;
  width: 100%; /* 确保宽度填满父元素 */
  box-sizing: border-box; /* 包括内边距和边框在内 */
}

.menu-icon {
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent; /* menu-icon 背景透明 */
  position: fixed; /* 固定在左上角 */
  top: 0; /* 距离顶部 */
  left: 0; /* 距离左侧 */
  z-index: 3; /* 确保其在最上层 */
}

.sidebar {
  width: 200px; /* 展开时宽度 */
  height: 100%; /* 始终占满高度 */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333; /* 边栏背景色 */
  transition: transform 0.3s ease; /* 添加平滑过渡 */
  transform: translateX(-100%); /* 默认完全隐藏 */
  z-index: 2;
  padding-top: 50px; /* 确保内容距离顶部有一定间距，避免与 menu-icon 重叠 */
}

.sidebar.open {
  transform: translateX(0); /* 打开时显示边栏 */
}

.icon-group {
  display: block; /* 始终保持显示 */
}

.icon-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  opacity: 0;
  transform: translateX(-20px);
  animation-fill-mode: forwards;
}

.sidebar.open .icon-item {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon-item:hover {
  background-color: #575757;
}

.icon-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.icon-text {
  display: none;
}

.sidebar.open .icon-text {
  display: inline;
}

.footer {
  position: absolute;
  bottom: 0;
  transition: margin-left 0.3s;
  width: 100%;
  text-align: left;
  color: black;
  padding: 10px;
  z-index: 1;
}

.footer a {
  text-decoration: none;
  color: black;
}
