body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.search-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-area input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-area select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.song-table {
  display: flex;
  flex-direction: column;
  /* border-collapse: collapse; */
}

.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.title {
  flex: 4;
}

.artist {
  flex: 3;
}
.type {
  flex: 2;
}
.language {
  flex: 1;
}
.note {
  flex: 1;
}


.word-wrap {
    word-wrap: break-word; /* 确保长单词换行 */
    white-space: normal; /* 允许文本换行 */
    overflow-wrap: break-word; /* 防止长词撑破单元格 */
}

/* 媒体查询 - 手机端适配 */
@media (max-width: 768px)
{
    #artist-select,
    #genre-select,
    #language-select,
    .type,
    .language,
    .note
    {
        display: none; /* 隐藏类型和备注列 */
    }

    .title {
        flex: 7; /* 在手机上，歌曲列占比6 */
    }

    .artist {
        flex: 3; /* 在手机上，歌手列占比4 */
    }
}

.search-area {
  display: flex;
  align-items: center;
}

.search-area select {
  margin-left: 10px;
  padding: 5px;
}
